SGRepoBE/web/WEB-INF/wsdl/172.16.33.180_8080/SGSUsersService/sgs_users_service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://seriousgames.elios.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://seriousgames.elios.org/" name="sgs_users_service">
<types>
<xsd:schema>
<xsd:import namespace="http://seriousgames.elios.org/" schemaLocation="http://172.16.33.180:8080/SGSUsersService/sgs_users_service?xsd=1" />
</xsd:schema>
</types>
<message name="getUserInfo">
<part name="parameters" element="tns:getUserInfo" />
</message>
<message name="getUserInfoResponse">
<part name="parameters" element="tns:getUserInfoResponse" />
</message>
<message name="checkUser">
<part name="parameters" element="tns:checkUser" />
</message>
<message name="checkUserResponse">
<part name="parameters" element="tns:checkUserResponse" />
</message>
<message name="getAccess">
<part name="parameters" element="tns:getAccess" />
</message>
<message name="getAccessResponse">
<part name="parameters" element="tns:getAccessResponse" />
</message>
<message name="getUpdatedUsers">
<part name="parameters" element="tns:getUpdatedUsers" />
</message>
<message name="getUpdatedUsersResponse">
<part name="parameters" element="tns:getUpdatedUsersResponse" />
</message>
<portType name="sgs_users_service">
<operation name="getUserInfo">
<input wsam:Action="http://seriousgames.elios.org/sgs_users_service/getUserInfoRequest" message="tns:getUserInfo" />
<output wsam:Action="http://seriousgames.elios.org/sgs_users_service/getUserInfoResponse" message="tns:getUserInfoResponse" />
</operation>
<operation name="checkUser">
<input wsam:Action="http://seriousgames.elios.org/sgs_users_service/checkUserRequest" message="tns:checkUser" />
<output wsam:Action="http://seriousgames.elios.org/sgs_users_service/checkUserResponse" message="tns:checkUserResponse" />
</operation>
<operation name="getAccess">
<input wsam:Action="http://seriousgames.elios.org/sgs_users_service/getAccessRequest" message="tns:getAccess" />
<output wsam:Action="http://seriousgames.elios.org/sgs_users_service/getAccessResponse" message="tns:getAccessResponse" />
</operation>
<operation name="getUpdatedUsers">
<input wsam:Action="http://seriousgames.elios.org/sgs_users_service/getUpdatedUsersRequest" message="tns:getUpdatedUsers" />
<output wsam:Action="http://seriousgames.elios.org/sgs_users_service/getUpdatedUsersResponse" message="tns:getUpdatedUsersResponse" />
</operation>
</portType>
<binding name="sgs_users_servicePortBinding" type="tns:sgs_users_service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getUserInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAccess">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUpdatedUsers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="sgs_users_service">
<port name="sgs_users_servicePort" binding="tns:sgs_users_servicePortBinding">
<soap:address location="http://172.16.33.180:8080/SGSUsersService/sgs_users_service" />
</port>
</service>
</definitions>